<section class="landingpage-logo">
    <h3>B<span id="red">ake</span> Th<span id="red">is</span>  W<span id="red">ay</span></h3>
</section>


<h2 class="edit-recipe-title">Edit My Recipe</h2>

<form class="edit-form" action="/recipes/<%= recipe_item["id"] %>" method="POST">

    <input type="hidden" name="_method" value="patch">

    <label for="">Recipe Name: </label>
    <input type="text" name="recipe_name" value="<%= recipe_item["recipe_name"] %>">

    <label for="">Serving: </label>
    <input type="text" name="serving" value="<%= recipe_item["serving"] %>">

    <label for="">Time Completion: </label>
    <input type="text" name="cooking_time" value="<%= recipe_item["cooking_time"] %>">

    <label for="">Ingredient: </label>
    <input class="ingredient-input-field" type="text" name="ingredient" value="<%= recipe_item["ingredient"] %>">

    <label for="">Step By Step: </label>
    <input type="text" name="step_by_step" value="<%= recipe_item["step_by_step"] %>">
    
    <label for="">Recipe Image URL: </label>
    <input type="text" name="image_url" value="<%= recipe_item["image_url"]%>">

    <button class="update-btn">Update Food</button>
     <p class="cancel"> <a href="/recipes/main">Cancel</a></p>
</form>